<% if current_user.folders != nil %>
  <% current_user.folders.each do |folder| %>
    <li class="basket-list-item">
      <%= link_to folder.name, folder_path(folder), class: "show_basket" %>
      <div class="basket-trash" data="<%= folder.id %>">
        <i class="fa fa-trash"></i>
      </div>
    </li>
  <% end %>
<% end %>
