<h1><%= @folder.name %></h1>

<% @links.each do |link| %>
<div class="folder-link">
  <a href="<%= link.url %>">
    <%= link.url %>
  </a>
  <div class="date">
    <%= link.created_at.strftime("%b %d %Y") %>
  </div>
</div>
<br />
<% end %>