<ul class="guest-nav">
  <li>
    <a href="/about">About</a>
  </li>
  <li>
    <a href="#" class='download-extension-btn'>
      <%= image_tag 'chrome2.png', class: "chrome-img" %>
      Extension
    </a>
  </li>
  <li>
    <%= link_to "/auth/facebook", id: "sign_in" do %>
      <i class = "fa fa-facebook-square icon facebook"></i> Login
    <% end %>
  </li>
</ul>