<ul class="guest-nav">
  <li>
    <a href="/about">About</a>
  </li>
  <li>
    <a href="">Extension</a>
  </li>
  <li>
    <i class = "fa fa-facebook-square icon facebook"></i>
    <%= link_to "Login", "/auth/facebook", id: "sign_in" %>
  </li>
</ul>