<ul class="users-nav">
  <li>
      <img alt="FB_Pic" src=<%= current_user.image %>>
    <%= current_user.name %>
  </li>
  <li>
    &#124;
  </li>
  <li>
    <a href="/about">About</a>
  </li>
  <li>
    <a href="#" class='download-extension-btn'>
      <%= image_tag 'chrome2.png', class: "chrome-img" %>
      Extension
    </a>
  </li>
  <li>
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  </li>
</ul>
