<div class='getting-set-up'>
  <h2>Getting Set Up</h2>
  <div class='facebook-login'>
    <i class='fa fa-facebook-square'></i><br />
    <h4>Login with Facebook</h4>
    <h6>(This is so basket can see your friends<br> and let you send them links)</h6>
  </div>
  <div class='chrome-extension'>
    <%= image_tag 'chrome.png' %>
    <h4>Download the chrome extension</h4>
    <h6>Look in the nav bar or right here<br />
    (Insert chrome extension here)</h6>
  </div>
</div>

<div class='how-to-use'>
  <h2>Using B@sket</h2>
  <div class='basket-description'>
    <i class='fa fa-hand-o-left'></i><br />
    <h4>Your B@skets</h4>
    <h6>Used to save all your favorite links</h6>
    <h6>The Shared Basket is where<br /> links sent from your friends will go</h6>
  </div>
  <div class='friend-description'>
    <i class='fa fa-hand-o-right'></i><br />
    <h4>Your Friends</h4>
    <h6>Facebook friends who are also using basket</h6>
  </div>
</div>

<div class='extension'>
  <h2>Using the Chrome Extension</h2>
  <div class="extension-details">
    <div class='basket-share'>
      <i class='fa fa-hand-o-right'></i><br />
      <h4>Your B@skets</h4>
    </div>
    <div class='extension-img'>
      <%= image_tag 'extension.png' %>
    </div>
    <div class='friend-share'>
      <i class='fa fa-hand-o-left'></i><br />
      <h4>Your Friends</h4>
    </div>
  </div>

  <div class="using-extension">
    <div class="text">
      When visiting a site, simply click a <strong>basket or friend</strong> in the extension... 
    <div>
    <div class="save-website-example">
      <%= image_tag 'extensionuse1.png' %>
    </div>
    <div class="text">
      to save it to that basket or send it to that friend.
    </div>
    <div class="basket-saved-example">
      <%= image_tag 'extensionuse3.png' %>
    </div>
  </div>
</div>
