<div class='getting-set-up'>
  <h2>Getting Set Up</h2>
  <div class='facebook-login'>
    <i class='fa fa-facebook-square'></i><br />
    <h4>Login with Facebook</h4>
    <h6>(This is so basket can see your friends<br> and let you send them links)</h6>
  </div>
  <div class='chrome-extension'>
    <%= image_tag 'chrome.png' %>
    <h4>Download our chrome extension</h4>
    <h6>Look in the nav bar or right here<br />
    (Insert chrome extension here)</h6>
  </div>
</div>

<div class='how-to-use'>
  <h2>How To Use</h2>

</div>
