<div class='getting-set-up'>
  <h2>Getting Set Up</h2>
  <div class='facebook-login'>
    <i class='fa fa-facebook-square'></i><br />
    <h4>Login with Facebook above</h4>
    <h6>(This is so basket can see your friends<br> and let you send them links)</h6>
  </div>
  <div class='chrome-extension'>
    <h4>Download our awesome chrome extension</h4>
    You can get that in the nav bar or right here
    (Insert chrome extension here)
  </div>
</div>

<div class='how-to-use'>
  <h2>How To Use</h2>

</div>
