.welcome {
  margin: auto;
  width: 100%;
  font-family: 'Montserrat';
  margin-top: 20px;
  margin-bottom: 80px;

  .basket-icon {
    text-align: center;
  }

  .basket-slogan {
    text-align: center;
  }

  .welcome-message{
    font-family: 'Lato';
    font-size: 22px;
    text-align: center;
    line-height: 26px;
    margin: 0 124px;
  }

}

/* Getting setup section
============================*/
.getting-set-up {
  position: relative;
  margin-bottom: 80px;

  h2 {
    text-align: center;
    margin-bottom: 16px;
    font-family: 'Montserrat';
  }


  .facebook-login,
  .chrome-extension {
    font-family: 'Montserrat';
    width: 50%;
    height: 100%; 
    float: left;
    text-align: center;

    h4,
    h6 {
      font-size: 20px;
      margin: 0;

      a {
        color: #999999;

        &:hover {
          color: black;
        }
      }
    }

    h6{
      font-family: 'Lato';
      font-size: 14px;      
    }
  }

  .facebook-login {
    .fa-facebook-square {
      font-size: 80px;
      color: #3b5998;
    }
  }

  .chrome-extension {
    img {
      width: 83px;
    }
  }

  .extension-explanation{
    clear: both;
    padding-top: 32px;
    font-family: 'Lato';
    font-size: 22px;
    text-align: center;
    line-height: 26px;
    margin: 0 100px;

    a {
      font-weight: bold;
      color: #999999;

      &:hover {
        color: black;
      }
    }
  }
}

/* How to use Basket section
============================*/
.how-to-use {
  position: relative;
  height: 200px;
  margin-bottom: 200px;

  h2 {
    text-align: center;
    margin-bottom: 16px;
    margin-bottom: 16px;
    font-family: 'Montserrat';
  }

  .basket-description,
  .friend-description {
    font-family: 'Montserrat';
    width: 50%;
    height: 100%; 
    float: left;
    text-align: center;

    h4,
    h6 {
      font-size: 20px;
      margin: 0;
    }

    h6{
      font-family: 'Lato';
      font-size: 14px;      
    }

    .fa-hand-o-right,
    .fa-hand-o-left {
      font-size: 80px;
      color: #2d2d2d;
    }
  }

  .first-basket{
    clear: both;
    margin: 0 100px;
    text-align: center;
  }
}

/* Using the extension section
============================*/
.extension {
  min-height: 500px;
  position: relative;

  h2 {
    text-align: center;
    margin-bottom: 16px;
  }

  .extension-details {
    min-height: 400px;
    .basket-share,
    .extension-img,
    .friend-share {
      position: relative;
      float: left;
      width: 25%;
      height: 100px;
      float: left;
    }

    .basket-share,
    .friend-share {
      margin-top: 75px;
      font-size: 80px;
      color: #2d2d2d;
    }

    .extension-img{
      width: 49%;
    }

    .basket-share{
      .fa-hand-o-right,
      h4,
      h6 {
        float: right;
      }
    }
  }

  .using-extension {
    .save-website-example,
    .text,
    .basket-saved-example {
      position: relative;
      width: 90%;
      height: 100%;
      margin: 10px auto;
    }

    .text {
      font-family: 'Lato';
      font-size: 18px;
      text-align: center;
    }
  }

}



/*================================
           NEW ABOUT PAGE
================================*/
.basket-information-wrapper {
  margin-top: 16px;
  h1 {
    text-align: center;
    padding-left: 16px;
    margin-bottom: 8px;
    font-family: 'Lato';
    .basket-title {
      font-family: 'Montserrat', sans-serif;
      font-size:  42px;
      font-weight: 100;
      width: 25%;
      letter-spacing: -3px;
      margin-top: 11px;
    }
  }
  .image-wrapper {
    margin: auto;
    width: 92%;
    margin-left: 20px;
  }
  .description-wrapper {
    font-size: 32px;
    line-height: 31px;
    text-align: center;
    font-family: 'Lato';
  }
  .select-buttons {
    text-align: center;
    p {
      font-family: 'Lato';
      display: inline;
      text-align: center;
      border: 1px solid #0a0c0e;
      background: #757575;
      color: #bababa;
      padding: 5px;
      font-size: 24px;
    }
  }
}


.get-started-wrapper {
  margin-top: 64px;
  text-align: center;
  height: 200px;
  text-decoration: none;
  font-size: 24px;
  h4 {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .get-started-btn-wrapper {
    margin-bottom: 30px;

    a:hover {
      text-decoration: none;
    }

    .download-the-extension,
    .sign-into-facebook {
      color: #999999;
      background-color: #fff;
      border: 1px solid #c7c7c7;
      display: inline;
      width: 100px;
      border-radius: 40px;
      padding: 13px;
      p {
        display: inline;
      }
    }

    .download-the-extension {
      img {
        -webkit-filter: grayscale(100%);
        width: 30px;
      }
      &:hover {
        color: black;
        img {
          -webkit-filter: grayscale(0%);
          width: 30px;
        } 
      }
    }
    .sign-into-facebook {
      .fa-facebook-square {
        font-size: 30px;
      }
      &:hover {
        color: #3b5998;
      }
    }
  }
}













