/* Getting setup section
============================*/
.getting-set-up {
  position: relative;
  height: 200px;

  h2 {
    text-align: center;
    margin-bottom: 16px;
  }

  .facebook-login,
  .chrome-extension {
    width: 50%;
    height: 100%; 
    float: left;
    text-align: center;

    h4,
    h6 {
      margin: 0;
    }
  }

  .facebook-login {
    .fa-facebook-square {
      font-size: 80px;
      color: #2d2d2d;
    }
  }

  .chrome-extension {
    img {
      width: 83px;
    }
  }
}

/* How to use Basket section
============================*/
.how-to-use {
  position: relative;
  height: 200px;

  h2 {
    text-align: center;
    margin-bottom: 16px;
  }

  .basket-description,
  .friend-description {
    width: 50%;
    height: 100%; 
    float: left;
    text-align: center;

    h4,
    h6 {
      margin: 0;
    }

    .fa-hand-o-right,
    .fa-hand-o-left {
      font-size: 80px;
      color: #2d2d2d;
    }
  }
}

/* Using the extension section
============================*/
.extension {
  min-height: 500px;
  position: relative;

  h2 {
    text-align: center;
    margin-bottom: 16px;
  }

  .extension-details {
    min-height: 400px;
    .basket-share,
    .extension-img,
    .friend-share {
      position: relative;
      float: left;
      width: 25%;
      height: 100px;
      float: left;
    }

    .basket-share,
    .friend-share {
      margin-top: 75px;
      font-size: 80px;
      color: #2d2d2d;
    }

    .extension-img{
      width: 49%;
    }

    .basket-share{
      .fa-hand-o-right,
      h4,
      h6 {
        float: right;
      }
    }
  }

  .using-extension {
    .save-website-example,
    .text,
    .basket-saved-example {
      position: relative;
      width: 90%;
      height: 100%;
      margin: 10px auto;
    }

    .text {
      font-size: 18px;
      text-align: center;
    }
  }

}