.welcome {
  margin: auto;
  width: 100%;
  font-family: 'Montserrat';
  margin-top: 20px;
  margin-bottom: 80px;

  .basket-icon {
    text-align: center;
  }

  .basket-slogan {
    text-align: center;
  }

  .welcome-message{
    font-family: 'Lato';
    font-size: 22px;
    text-align: center;
    line-height: 26px;
    margin: 0 124px;
  }

}

/* Getting setup section
============================*/
.getting-set-up {
  position: relative;
  margin-bottom: 80px;

  h2 {
    text-align: center;
    margin-bottom: 16px;
    font-family: 'Montserrat';
  }

  .facebook-login,
  .chrome-extension {
    font-family: 'Montserrat';
    width: 50%;
    height: 100%; 
    float: left;
    text-align: center;

    h4,
    h6 {
      font-size: 20px;
      margin: 0;

      a {
        color: #999999;

        &:hover {
          color: black;
        }
      }
    }

    h6{
      font-family: 'Lato';
      font-size: 14px;      
    }
  }

  .facebook-login {
    .fa-facebook-square {
      font-size: 80px;
      color: #2d2d2d;
    }
  }

  .chrome-extension {
    img {
      width: 83px;
    }
  }

  .extension-explanation{
    clear: both;
    padding-top: 32px;
    font-family: 'Lato';
    font-size: 22px;
    text-align: center;
    line-height: 26px;
    margin: 0 100px;

    a {
      font-weight: bold;
      color: #999999;

      &:hover {
        color: black;
      }
    }
  }
}

/* How to use Basket section
============================*/
.how-to-use {
  position: relative;
  height: 200px;
  margin-bottom: 80px;

  h2 {
    text-align: center;
    margin-bottom: 16px;
    margin-bottom: 16px;
    font-family: 'Montserrat';
  }

  .basket-description,
  .friend-description {
    font-family: 'Montserrat';
    width: 50%;
    height: 100%; 
    float: left;
    text-align: center;

    h4,
    h6 {
      font-size: 20px;
      margin: 0;
    }

    h6{
      font-family: 'Lato';
      font-size: 14px;      
    }

    .fa-hand-o-right,
    .fa-hand-o-left {
      font-size: 80px;
      color: #2d2d2d;
    }
  }
}

/* Using the extension section
============================*/
.extension {
  min-height: 500px;
  position: relative;

  h2 {
    text-align: center;
    margin-bottom: 16px;
  }

  .extension-details {
    min-height: 400px;
    .basket-share,
    .extension-img,
    .friend-share {
      position: relative;
      float: left;
      width: 25%;
      height: 100px;
      float: left;
    }

    .basket-share,
    .friend-share {
      margin-top: 75px;
      font-size: 80px;
      color: #2d2d2d;
    }

    .extension-img{
      width: 49%;
    }

    .basket-share{
      .fa-hand-o-right,
      h4,
      h6 {
        float: right;
      }
    }
  }

  .using-extension {
    .save-website-example,
    .text,
    .basket-saved-example {
      position: relative;
      width: 90%;
      height: 100%;
      margin: 10px auto;
    }

    .text {
      font-family: 'Lato';
      font-size: 18px;
      text-align: center;
    }
  }

}