.baskets-wrapper {
  float: left; 
  display: inline-block;
  background: #191919;
  color: white;
  width: 20%;
  min-height: 500px;
  padding-top: 75px;

  .new-basket-btn {
    margin-left: 24px;
    a {
      color: white;
    }
  }

  #new-basket-form-container {
    margin-left: 24px;
    display: none;

    #signup_button,
    #hide_button {
      font-family: 'Lato';
    }
  }

  .baskets {
    margin-left: 0;
    cursor: pointer;
    
    li {
      list-style: none;
      padding: 10px 0 10px 25px;
      border-top: 1px solid #212121;
      border-bottom: 1px solid #0a0c0e;

      a {
        color: white;
        font-size: 16px;
        width: 100%;
      }

      &:hover {
        background: #111;
        border-top: 1px solid #111;
        border-bottom: 1px solid #0a0c0e;
      }
    }
  }
}

