.baskets-wrapper {
  float: left; 
  display: inline-block;
  background: #191919;
  color: white;
  width: 20%;
  min-height: 500px;

  position: absolute;
  height: 100%;
  left: 0;

  .new-basket-btn {
    margin: -11px 0 -11px 24px;
    a {
      color: white;
    }
  }

  #new-basket-form-container {
    margin-left: 24px;
    display: none;

    #folder_name {
      &:focus {
        border: 1px solid #90EE90;
      }
    }

    #signup_button,
    #hide_button {
      font-family: 'Lato';
      border-radius: 8px;
      background-color: #f5f5f5;
      border: 1px solid #dddddd;
    }
  }

  .baskets {
    margin-left: 0;
    
    li {
      list-style: none;
      padding: 10px 0 10px 25px;
      border-top: 1px solid #212121;
      border-bottom: 1px solid #0a0c0e;

      a {
        color: white;
        font-size: 16px;
        width: 100%;
      }

      &:hover {
        background: #111;
        border-top: 1px solid #111;
        border-bottom: 1px solid #0a0c0e;
      }

      .basket-trash {
        cursor: pointer;
        color: #44494C;
        left: 91%;
        margin-top: 2px;
        position: absolute;

        &:hover{
          color: #f5f5f5;
        }
      }
    }
  }
}

