.friends-wrapper {
  float: left;
  width: 19.2%;
  min-height: 500px;
  padding-top: 75px;
  background: #ffffff;
  border-left: 8px solid #ddd;

  .friends-header {
    text-align: center;
    margin-top: -15px;
    height: 40px;
    background: #f5f5f5;

    h5 {
      padding-top: 10px;
    }
  }

  #friends-list {
    padding-top: 24px;

    .friend-container {
      li {
        display: inline-block;
        list-style: none;
      }

      .friend-img {
        padding-left: 24px;
      }
    }
  }
}
