<div class="extension-explanation-wrapper">
  <div class="question">
    So you're not sure what a chrome extension is<br>
    <i class="fa fa-question"></i><br>
    No problem! <br>In just 1 minute, you'll know exactly what they are, and how they're used.
  </div>

  <div class="explanation">
    A chrome extension is a little button that goes into your browser, that you can use no matter what site you're on. 

    The B@sket extension brings you're folders and friends with you to every site you visit.

    So you find a great YouTube video 
  </div>

  <div class="download-instructions">
    Download Instructions
    Once you click the link below, or in the nav bar (same link) follow these simple steps&hellip;
  </div>
</div>