<div class="extension-explanation-wrapper">
  <div class="question">
    So you're not sure what a chrome extension is&hellip;<br>
    <i class="fa fa-question"></i><br>
    <h1 class="no-problem">No problem!</h1> 
    In just 1 minute, you'll know exactly what they are, and how they're used.
  </div>

  <div class="explanation">
    <h2>1. What are they?</h2>
    <h4>A chrome extension is a little icon that goes into your browser&hellip;</h4>

    <h2>2. Where are they?</h2>
    <h4>Directly to the right of the address bar</h4>
    <div class="example-img">
      <%= image_tag "extension_example.png" %>
    </div>

    <h2>3. When are they used?</h2>
    <h4>You can use them no matter what site you're on.</h4>

    <h2>4. Why are they used?</h2>
    <h4>Each one is unique and does something special.</h4>
    <br>
    <h4>The B@sket extension brings you're baskets and friends with you to every site you visit.</h4>
    <br>
    <h4>That way you can easily share or save any site that you're visiting.</h4>

    <h2>5. How do I get the B@sket extension?</h2>
    <i class="fa fa-arrow-down"></i>

  </div>

  <div class="download-instructions">
    <h1>Download Instructions</h1>
    <h4>Click the <%= image_tag "extensionlink.png", class: "extension-link" %> in the nav bar above and you'll be taken to the following page &hellip;</h4>
    <%= image_tag "extinstructions1.png" %>
    <h4>Click the 'Free' button on the top right which will then generate the box below&hellip;</h4>
    <%= image_tag "extinstructions2.png" %>
    <br>
    <br>
    <h4>Click 'Add'</h4>

    <h2>You now have the B@sket extension!</h2>
  </div>
</div>